<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhoneBook</title>
    <meta name="theme-color" content="black">
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
</head>

<body>
    <div class="topbar">
        <h1>Phonebook</h1>
        <form method="POST">
            <div class="searchCard">
                <input type="text" placeholder="Search" name="search_input">
            </div>
            <button class="searchBtn" type="submit">
                <img src="{{searchIcon}}" alt="">
            </button>
        </form>

    </div>
    <div class="cards">
        {%for contactIndex in contacts.index%}

        <div class="singleCard">
            <div class="col1">
                <img src="{{profilePic}}" alt="">
            </div>
            <div class="col2">
                <h1>
                    {{contacts['Name'][contactIndex]}}
                </h1>
                <h2>
                    {{contacts['Phone'][contactIndex]}}
                </h2>
            </div>
            <div class="col3">
                <a href="https://api.whatsapp.com/send/?text=Name:{{contacts['Name'][contactIndex]}} and Phone:{{contacts['Phone'][contactIndex]}}"
                    data-action="share/whatsapp/share">
                    <img src="{{sharePic}}" alt="">
                </a>
            </div>
        </div>
        {%endfor%}
    </div>
    <br>
    <a href="{{ url_for( 'addContacts' ) }}">

        <div class="floatingActionBtn">
            <h1>+</h1>
        </div>
    </a>


</body>

</html>